---
import '../styles/global.css';
---

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>BUDDYWORKS</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <meta name="color-scheme" content="light only"/>
        <meta name="description" content="Welcome to BUDDYWORKS! BUDDYWORKS is a community by creators for creators, helping and educating in all things unity and blender with VRC context. Everyone is happily invited to join in, every skill level, even just slight curiosity. Maybe you find the spark. ❤️"/>
        <meta property="og:site_name" content="BUDDYWORKS"/>
        <meta property="og:title" content="BUDDYWORKS"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Welcome to BUDDYWORKS! BUDDYWORKS is a community by creators for creators, helping and educating in all things unity and blender with VRC context. Everyone is happily invited to join in, every skill level, even just slight curiosity. Maybe you find the spark. ❤️"/>
        <meta property="og:image" content="https://buddyworks.wtf/assets/images/share.jpg?v=ec014836"/>
        <meta property="og:image:type" content="image/jpeg"/>
        <meta property="og:image:width" content="1200"/>
        <meta property="og:image:height" content="674"/>
        <meta property="og:url" content="https://buddyworks.wtf"/>
        <meta property="twitter:card" content="summary_large_image"/>
        <meta name="theme-color" content="#FDDA0D"/>
        <link rel="canonical" href="https://buddyworks.wtf"/>
        <link href="https://fonts.googleapis.com/css2?display=swap&family=Inter:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900" rel="stylesheet" type="text/css"/>
        <link rel="manifest" href="/site.webmanifest">
        
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" display="none" width="0" height="0">
            <symbol id="icon-0ae1e394040465ead34b72c40a42eafa" viewBox="0 0 40 40">
                <path d="M17.1,36.4C8.2,36.4,3,29.2,3,20.3C3,11.1,8.7,3.6,19.7,3.6c11.3,0,15.2,7.7,15.3,12h-8.2c-0.2-2.4-2.3-6.1-7.3-6.1 c-5.4,0-8.9,4.7-8.9,10.5c0,5.7,3.5,10.5,8.9,10.5c4.9,0,7-3.8,7.8-7.7h-7.8v-3.1H36v16h-7.2V25.6C28.3,29.2,26,36.4,17.1,36.4z"/>
            </symbol>
            <symbol id="icon-6871dc014ea61d3407154992fba3c97e" viewBox="0 0 40 40">
                <path d="M36,22l-1.9,1.9l0,0L19.8,38.2L5.3,23.7l0,0L3.6,22c-3.5-3.9-3.5-9.7,0-13.6C7.4,4.3,13.8,4,18,7.7l1.9,1.9l0,0 l0,0l1.9-1.9c2-2,4.6-3,7.2-3c2.6,0,5.2,1,7.2,3C40,11.7,40,18.1,36,22z M11.4,9.6H6.7c-0.7,0-1.2,0.5-1.2,1.2v4.7 c0,0.7,0.5,1.2,1.2,1.2h4.8c0.7,0,1.2-0.5,1.2-1.2l0-4.7C12.7,10.1,12.1,9.6,11.4,9.6z M35.1,8.8c-1.7-1.7-3.9-2.5-6.1-2.5 s-4.4,0.8-6.1,2.5l-2.1,2.1L33,23l2.1-2.1C38.5,17.6,38.5,12.1,35.1,8.8z"/>
            </symbol>
            <symbol id="icon-7a66fac84dc5d9fb5fafce395a384d40" viewBox="0 0 40 40">
                <path d="M20,3C10.6,3,3,10.6,3,20s7.6,17,17,17s17-7.6,17-17S29.4,3,20,3z M34.8,18.9h-6.2c-0.1-2.2-0.3-4.2-0.8-6.1 c1.5-0.4,3-0.9,4.2-1.5c0.6,0.9,1.2,1.8,1.6,2.9C34.3,15.7,34.7,17.3,34.8,18.9z M25.7,26.7c-1.5-0.3-3.1-0.4-4.6-0.5v-5.1h5.4 c-0.1,1.8-0.3,3.5-0.6,5.1C25.8,26.3,25.8,26.5,25.7,26.7z M14.2,26.2c-0.3-1.6-0.6-3.3-0.6-5.1h5.4v5.1c-1.6,0-3.2,0.2-4.6,0.5 C14.2,26.5,14.2,26.3,14.2,26.2z M14.3,13.3c1.5,0.3,3.1,0.4,4.6,0.5v5.1h-5.4c0.1-1.8,0.3-3.5,0.6-5.1 C14.2,13.7,14.2,13.5,14.3,13.3z M21.1,5.4C21.4,5.6,21.7,5.7,22,6c0.8,0.7,1.6,1.7,2.2,3c0.4,0.7,0.7,1.5,0.9,2.3 c-1.3,0.2-2.7,0.4-4,0.4V5.4z M18,6c0.3-0.3,0.6-0.4,0.9-0.6v6.2c-1.4,0-2.8-0.2-4-0.4c0.3-0.8,0.6-1.6,0.9-2.3 C16.5,7.7,17.2,6.7,18,6z M18.9,28.4v6.2c-0.3-0.1-0.6-0.3-0.9-0.6c-0.8-0.7-1.6-1.7-2.2-3c-0.4-0.7-0.7-1.5-0.9-2.3 C16.2,28.6,17.5,28.4,18.9,28.4z M22,34c-0.3,0.3-0.6,0.4-0.9,0.6v-6.2c1.4,0,2.8,0.2,4,0.4c-0.3,0.8-0.6,1.6-0.9,2.3 C23.5,32.3,22.8,33.3,22,34z M21.1,18.9v-5.1c1.6,0,3.2-0.2,4.6-0.5c0,0.2,0.1,0.4,0.1,0.5c0.3,1.6,0.6,3.3,0.6,5.1H21.1z M30.5,9.5 c0,0,0.1,0.1,0.1,0.1c-1,0.4-2.2,0.8-3.4,1.1c-0.6-1.9-1.4-3.5-2.4-4.8c0.3,0.1,0.6,0.2,0.9,0.3C27.5,7.1,29.1,8.1,30.5,9.5z M14.2,6.3c0.3-0.1,0.6-0.2,0.9-0.3c-0.9,1.3-1.7,2.9-2.4,4.8c-1.2-0.3-2.3-0.7-3.4-1.1c0,0,0.1-0.1,0.1-0.1 C10.9,8.1,12.5,7.1,14.2,6.3z M7.9,11.4c1.3,0.6,2.7,1.1,4.2,1.5c-0.4,1.9-0.7,3.9-0.8,6.1H5.2c0.1-1.6,0.5-3.2,1.1-4.7 C6.8,13.2,7.3,12.3,7.9,11.4z M5.2,21.1h6.2c0.1,2.2,0.3,4.2,0.8,6.1c-1.5,0.4-3,0.9-4.2,1.5c-0.6-0.9-1.2-1.8-1.6-2.9 C5.7,24.3,5.3,22.7,5.2,21.1z M9.5,30.5c0,0-0.1-0.1-0.1-0.1c1-0.4,2.2-0.8,3.4-1.1c0.6,1.9,1.4,3.5,2.4,4.8 c-0.3-0.1-0.6-0.2-0.9-0.3C12.5,32.9,10.9,31.9,9.5,30.5z M25.8,33.7c-0.3,0.1-0.6,0.2-0.9,0.3c0.9-1.3,1.7-2.9,2.4-4.8 c1.2,0.3,2.3,0.7,3.4,1.1c0,0-0.1,0.1-0.1,0.1C29.1,31.9,27.5,32.9,25.8,33.7z M32.1,28.6c-1.3-0.6-2.7-1.1-4.2-1.5 c0.4-1.9,0.7-3.9,0.8-6.1h6.2c-0.1,1.6-0.5,3.2-1.1,4.7C33.2,26.8,32.7,27.7,32.1,28.6z"/>
            </symbol>
            <symbol id="icon-5781ca2e1fb79e9a339ab93b15347b29" viewBox="0 0 40 40">
                <path d="M36.3,32.1c-2.6,0.7-5.5-0.9-6.8-3.5l-2.9-6.2H20h-6.6l-2.9,6.2c-1.2,2.6-4.1,4.2-6.8,3.5 c-2.6-0.7-4.2-3.4-3.5-6L2,19.3C2,19.2,2,19.1,2.1,19l1.5-5.8c0.8-3,3.9-5.4,6.9-5.4H20h9.5c3,0,6.1,2.4,6.9,5.4l1.5,5.8 c0,0.1,0.1,0.2,0.1,0.3l1.8,6.8C40.5,28.7,39,31.4,36.3,32.1z M16.2,15c0-0.5-0.4-0.9-0.9-0.9h-2.5v-2.5c0-0.5-0.4-0.9-0.9-0.9H11 c-0.5,0-0.9,0.4-0.9,0.9v2.5H7.5c-0.5,0-0.9,0.4-0.9,0.9v0.8c0,0.5,0.4,0.9,0.9,0.9h2.6v2.6c0,0.5,0.4,0.9,0.9,0.9h0.8 c0.5,0,0.9-0.4,0.9-0.9v-2.6h2.5c0.5,0,0.9-0.4,0.9-0.9V15z M25.4,13.8c-0.9,0-1.7,0.7-1.7,1.7s0.7,1.7,1.7,1.7 c0.9,0,1.7-0.7,1.7-1.7S26.3,13.8,25.4,13.8z M28.7,10.5c-0.9,0-1.7,0.7-1.7,1.7c0,0.9,0.7,1.7,1.7,1.7c0.9,0,1.7-0.7,1.7-1.7 C30.3,11.2,29.6,10.5,28.7,10.5z M28.7,17c-0.9,0-1.7,0.7-1.7,1.7c0,0.9,0.7,1.7,1.7,1.7c0.9,0,1.7-0.7,1.7-1.7 C30.3,17.8,29.6,17,28.7,17z M31.9,13.8c-0.9,0-1.7,0.7-1.7,1.7s0.7,1.7,1.7,1.7c0.9,0,1.7-0.7,1.7-1.7S32.9,13.8,31.9,13.8z"/>
            </symbol>
            <symbol id="icon-087398ed0fe899085b907a25f76573d4" viewBox="0 0 40 40">
                <path d="M33.1,16.3v-2.5L26.9,4h-2.1l-3.4,8.1l-3.3-6.9l-1.8,0l-5.6,13.2V5.8H6.9v1.1H4v3.9h2.9v11.2 c0,1,0.8,1.8,1.8,1.8h1.9V36h3.9v-5.6c0-3.1,2.7-5.6,6-5.6h0h0h0c5.4,0,9.8,4.1,9.8,9.1V36h2.8V25H36v-6.1L33.1,16.3z"/>
            </symbol>
            <symbol id="icon-3b7eeeccbb457780f277fce4669f67a0" viewBox="0 0 40 40">
                <path d="M33.2,8.3c-2.5-1.1-5.1-1.9-7.9-2.4c-0.3,0.6-0.7,1.4-1,2c-2.9-0.4-5.8-0.4-8.7,0c-0.3-0.6-0.7-1.4-1-2 c-2.8,0.5-5.4,1.3-7.9,2.4c-5,7.2-6.3,14.2-5.6,21.1c3.3,2.3,6.5,3.8,9.6,4.7c0.8-1,1.5-2.1,2.1-3.3c-1.1-0.4-2.2-0.9-3.2-1.5 c0.3-0.2,0.5-0.4,0.8-0.6c6.3,2.8,13,2.8,19.2,0c0.3,0.2,0.5,0.4,0.8,0.6c-1,0.6-2.1,1.1-3.2,1.5c0.6,1.1,1.3,2.2,2.1,3.3 c3.1-0.9,6.3-2.4,9.6-4.7C39.7,21.4,37.5,14.4,33.2,8.3z M13.7,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C17.1,23.4,15.6,25.1,13.7,25.1z M26.3,25.1c-1.9,0-3.4-1.7-3.4-3.7s1.5-3.7,3.4-3.7c1.9,0,3.5,1.7,3.4,3.7 C29.7,23.4,28.2,25.1,26.3,25.1z"/>
            </symbol>
            <symbol id="icon-5e2b59df8acd112dc7cc5936c30a5abb" viewBox="0 0 40 40">
                <path d="M20.8,2c3.6,0.1,6.6,0.4,9.4,1.7c4.2,2,6.7,6,6.3,10c-0.5,4.8-3.5,8.3-8.2,9.6c-0.7,0.2-1.3,0.4-2,0.5 c-3.2,0.8-5.4,2.6-6.8,5.6c-0.9,2-1.9,4.1-3.1,5.9c-2.5,3.6-7.1,3.4-9.6-0.2c-1.6-2.3-2.2-4.9-2.6-7.6c-0.6-4.1-0.9-8.2-0.2-12.4 C5.1,7.8,9.6,3.4,17,2.4C18.4,2.2,19.9,2.1,20.8,2z"/>
            </symbol>
            <symbol id="icon-b4ecc41beadbec7df3b3e34a22693f76" viewBox="0 0 40 40">
                <path d="M17.7,8.7c4.3,0,8.6,0,12.9,0c4.2,0,8,3.1,8.7,7.3c0.7,4.4-1.4,8.3-5.6,9.8c-1.2,0.4-2.5,0.5-3.8,0.7 c-0.5,0.1-0.8,0.2-0.8,0.8c0,0.6-0.2,1.3-0.4,1.9c-0.7,2-2.4,3.1-4.5,3.1c-5.7,0-11.3,0-17,0c-2.9,0-4.8-1.9-4.8-4.7 c0-5.6,0-11.2,0-16.7c0-1.6,0.4-2.1,2-2.1C8.9,8.7,13.3,8.7,17.7,8.7z M23.1,18.2c0-2.2-1.4-3.6-3.5-3.7c-1.3,0-2.4,0.5-3.3,1.3 c-0.4,0.4-0.7,0.3-1.2,0c-0.7-0.5-1.5-0.9-2.3-1.2c-1.8-0.5-4.2,0.4-4.5,2.7c-0.2,1.7,0.4,3.2,1.6,4.3c1.7,1.7,3.6,3.4,5.4,5.1 c0.3,0.3,0.6,0.3,0.9,0c1.7-1.7,3.5-3.4,5.2-5.1C22.5,20.7,23.2,19.6,23.1,18.2z M29.1,17.7c0,0.9,0,1.8,0,2.7 c0,1.6-0.3,1.5,1.5,1.5c1.6,0,2.9-0.7,3.6-2.2c0.7-1.6,0.8-3.2-0.3-4.7c-1-1.4-2.4-1.6-4-1.5c-0.6,0-0.8,0.2-0.8,0.8 C29.1,15.4,29.1,16.5,29.1,17.7z"/>
            </symbol>
            <symbol id="icon-8c4b37645de3c276d895d87df51ba614" viewBox="0 0 40 40">
                <path d="M36,20.3c0,3.5-1,6.6-3.1,9.4c-2,2.8-4.7,4.7-7.9,5.8c-0.4,0.1-0.6,0-0.8-0.1c-0.2-0.2-0.3-0.4-0.3-0.6v-4.4 c0-1.3-0.4-2.3-1.1-3c0.8-0.1,1.5-0.2,2.1-0.4c0.6-0.2,1.3-0.4,2-0.8c0.7-0.4,1.2-0.8,1.7-1.4c0.5-0.5,0.8-1.3,1.1-2.2 s0.4-2,0.4-3.1c0-1.7-0.5-3.1-1.6-4.3c0.5-1.3,0.5-2.7-0.2-4.2c-0.4-0.1-1,0-1.7,0.2c-0.7,0.3-1.4,0.6-1.9,0.9L24,12.5 c-1.3-0.4-2.6-0.5-4-0.5s-2.7,0.2-4,0.5c-0.2-0.2-0.5-0.3-0.9-0.6c-0.4-0.2-0.9-0.5-1.7-0.8c-0.8-0.3-1.4-0.4-1.8-0.3 c-0.6,1.6-0.7,3-0.1,4.2c-1.1,1.2-1.6,2.6-1.6,4.3c0,1.2,0.1,2.2,0.4,3.1s0.6,1.6,1.1,2.2s1,1,1.7,1.4c0.7,0.4,1.3,0.6,2,0.8 c0.6,0.2,1.3,0.3,2.1,0.4c-0.6,0.5-0.9,1.2-1,2.1c-0.3,0.1-0.6,0.2-0.9,0.3c-0.3,0.1-0.7,0.1-1.2,0.1c-0.5,0-0.9-0.1-1.4-0.4 c-0.5-0.3-0.8-0.7-1.2-1.3c-0.3-0.4-0.6-0.8-1-1.1c-0.4-0.3-0.8-0.4-1-0.5L9,26.5c-0.3,0-0.5,0-0.6,0.1c-0.1,0.1-0.1,0.1-0.1,0.2 c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.2,0.3,0.2l0.1,0.1c0.3,0.1,0.6,0.4,0.9,0.8s0.5,0.7,0.7,1.1l0.2,0.5c0.2,0.5,0.5,1,0.9,1.3 c0.4,0.3,0.9,0.5,1.4,0.6c0.5,0.1,1,0.1,1.4,0.1c0.5,0,0.9,0,1.2-0.1l0.5-0.1c0,0.5,0,1.1,0,1.9c0,0.7,0,1.1,0,1.1 c0,0.2-0.1,0.5-0.3,0.6c-0.2,0.2-0.5,0.2-0.8,0.1c-3.2-1.1-5.8-3-7.9-5.8S4,23.8,4,20.3c0-2.9,0.7-5.6,2.1-8S9.5,7.8,12,6.4 s5.1-2.1,8-2.1s5.6,0.7,8,2.1s4.4,3.4,5.8,5.8S36,17.4,36,20.3L36,20.3z"/>
            </symbol>
            <symbol id="icon-31b8880d36499db40d4e47546c4763f3" viewBox="0 0 40 40">
                <path d="M30.1,4h5.4L23.7,17.6L37.6,36H26.7l-8.5-11.2L8.5,36H3.1l12.6-14.5L2.4,4h11.1l7.7,10.2L30.1,4z M28.2,32.8h3L11.9,7.1H8.7 L28.2,32.8z"/>
            </symbol>
            <symbol id="icon-56a1e10494600ea42075d3aa573d5839" viewBox="0 0 40 40">
                <path d="M32.3,14.4c0,1.2-0.4,2.2-1.3,3.1s-1.9,1.3-3.1,1.3s-2.2-0.4-3.1-1.3c-0.9-0.9-1.3-1.9-1.3-3.1s0.4-2.2,1.3-3.1 c0.9-0.9,1.9-1.3,3.1-1.3s2.2,0.4,3.1,1.3S32.3,13.2,32.3,14.4z M18.5,27.6c0-1.2-0.4-2.3-1.3-3.2c-0.9-0.9-1.9-1.3-3.2-1.3 c-0.3,0-0.6,0-1,0.1l1.9,0.8c0.9,0.4,1.6,1,2,1.9c0.4,0.9,0.4,1.8,0,2.7c-0.4,0.9-1,1.6-1.9,1.9c-0.9,0.4-1.8,0.4-2.7,0 c-0.3-0.1-0.6-0.2-1.1-0.4c-0.5-0.2-0.9-0.3-1.1-0.4c0.4,0.7,0.9,1.3,1.6,1.7c0.7,0.4,1.5,0.7,2.3,0.7c1.2,0,2.3-0.4,3.2-1.3 C18.1,29.9,18.5,28.9,18.5,27.6L18.5,27.6z M33.3,14.4c0-1.5-0.5-2.8-1.6-3.8C30.7,9.5,29.4,9,27.9,9c-1.5,0-2.8,0.5-3.9,1.6 c-1.1,1.1-1.6,2.3-1.6,3.8c0,1.5,0.5,2.8,1.6,3.9c1.1,1.1,2.4,1.6,3.9,1.6c1.5,0,2.8-0.5,3.8-1.6C32.8,17.2,33.3,15.9,33.3,14.4z M36,14.4c0,2.2-0.8,4.2-2.4,5.7c-1.6,1.6-3.5,2.4-5.7,2.4l-7.8,5.7c-0.1,1.5-0.8,2.8-1.9,3.9s-2.5,1.6-4.1,1.6 c-1.4,0-2.7-0.5-3.8-1.4s-1.8-2-2.1-3.4L4,27.3v-7.7l6.9,2.8c0.9-0.6,2-0.9,3.1-0.9c0.2,0,0.4,0,0.6,0l5.1-7.3 c0-2.2,0.8-4.1,2.4-5.7s3.5-2.4,5.7-2.4c2.2,0,4.2,0.8,5.7,2.4C35.2,10.3,36,12.2,36,14.4z"/>
            </symbol>
            <symbol id="icon-c83ee4da7ecbbbd33cd0166b89ce370f" viewBox="0 0 40 40">
                <path d="M37.3,18.9c0,0.7-0.2,1.4-0.6,2c-0.4,0.6-0.9,1.1-1.5,1.4c0.2,0.6,0.2,1.2,0.2,1.9c0,2-0.7,3.8-2.1,5.5 c-1.4,1.7-3.2,3-5.6,4s-4.9,1.5-7.7,1.5c-2.8,0-5.4-0.5-7.7-1.5s-4.2-2.3-5.6-4c-1.4-1.7-2.1-3.6-2.1-5.5c0-0.6,0.1-1.2,0.2-1.8 c-0.7-0.3-1.2-0.8-1.6-1.4c-0.4-0.6-0.6-1.3-0.6-2.1c0-1.1,0.4-2,1.1-2.7c0.7-0.8,1.7-1.1,2.7-1.1c1.1,0,2,0.4,2.8,1.2 c2.8-2,6.1-3,10-3.1l2.2-10.1c0-0.2,0.1-0.3,0.3-0.4c0.2-0.1,0.3-0.1,0.5-0.1l7.1,1.6c0.2-0.5,0.6-0.9,1-1.2c0.5-0.3,1-0.4,1.5-0.4 c0.8,0,1.5,0.3,2,0.8c0.6,0.6,0.9,1.2,0.9,2c0,0.8-0.3,1.5-0.9,2c-0.6,0.6-1.3,0.9-2,0.9c-0.8,0-1.5-0.3-2-0.8s-0.8-1.2-0.8-2 L22.7,4l-2,9.1c3.9,0.1,7.2,1.1,10,3.1c0.7-0.8,1.7-1.2,2.8-1.2c1.1,0,2,0.4,2.7,1.1C36.9,16.9,37.3,17.9,37.3,18.9L37.3,18.9z M10.7,22.8c0,0.8,0.3,1.5,0.8,2c0.6,0.6,1.2,0.9,2,0.9c0.8,0,1.5-0.3,2-0.9c0.6-0.6,0.9-1.3,0.9-2c0-0.8-0.3-1.5-0.9-2 c-0.6-0.6-1.3-0.8-2-0.8c-0.8,0-1.5,0.3-2,0.9C11,21.3,10.7,22,10.7,22.8z M26.4,29.6c0.1-0.1,0.2-0.3,0.2-0.5 c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.5,0.5-1.3,0.9-2.3,1.2c-1,0.3-2.1,0.4-3.1,0.4 c-1,0-2.1-0.1-3.1-0.4c-1-0.3-1.8-0.7-2.3-1.2c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5 c0,0.2,0.1,0.4,0.2,0.5c0.6,0.6,1.3,1,2.3,1.3c1,0.3,1.8,0.5,2.4,0.6c0.6,0.1,1.2,0.1,1.8,0.1s1.2,0,1.8-0.1 c0.6-0.1,1.4-0.2,2.4-0.6C25.1,30.6,25.8,30.2,26.4,29.6L26.4,29.6z M26.3,25.7c0.8,0,1.5-0.3,2-0.9c0.6-0.6,0.8-1.3,0.8-2 c0-0.8-0.3-1.5-0.9-2c-0.6-0.6-1.2-0.9-2-0.9c-0.8,0-1.5,0.3-2,0.8s-0.9,1.2-0.9,2c0,0.8,0.3,1.5,0.9,2 C24.9,25.4,25.5,25.7,26.3,25.7z"/>
            </symbol>
            <symbol id="icon-609167072cf835e4e0e39f79e5fecfbf" viewBox="0 0 40 40">
                <path d="M24.5,13.6V5.8c0.2,0.2,0.4,0.3,0.6,0.5l6.8,6.8c0.2,0.2,0.3,0.4,0.5,0.6L24.5,13.6L24.5,13.6z M22.3,14.2 c0,0.4,0.2,0.8,0.5,1.1c0.3,0.3,0.7,0.5,1.1,0.5h9v17.5c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.5-1.1,0.5H9.1c-0.4,0-0.8-0.2-1.1-0.5 c-0.3-0.3-0.5-0.7-0.5-1.1V6.7c0-0.4,0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5h13.3L22.3,14.2L22.3,14.2z"/>
            </symbol>
        </svg>
        <div id="wrapper">
            <div id="main">
                <div class="inner">
                    <div id="container02" class="container default">
                        <div class="wrapper">
                            <div class="inner" data-onvisible-trigger="1">
                                <div id="image05" class="image">
                                    <a href="https://buddyworks.wtf?clickedyclickclick" class="frame deferred enclosed">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB3aWR0aD0iMjU2IiBoZWlnaHQ9IjI1NiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0iI2EyNzQwMiIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg%3D%3D" data-src="assets/images/image05.gif?v=ec014836" alt="BUDDYWORKS Logo"/>
                                    </a>
                                </div>
                                <div id="gallery02" class="gallery">
                                    <div class="inner">
                                        <ul>
                                            <li>
                                                <a href="https://buddyworks.wtf" class="thumbnail n01">
                                                    <span class="frame">
                                                        <img src="assets/images/gallery02/999ce6ff.png?v=ec014836" alt="BUDDYWORKS Logo"/>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p id="text10">
                                    <span class="p">
                                        <strong>BUDDYWORKS</strong>
                                        is a community by creators for creators, helping and educating in all things unity and blender with VRC context.
                                    </span>
                                    <span class="p">Everyone is happily invited to join in, every skill level, even just slight curiosity.</span>
                                    <span class="p">Maybe you find the spark. ❤️</span>
                                </p>
                                <ul id="buttons06" class="buttons">
                                    <li>
                                        <a href="https://discord.buddyworks.wtf" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Discord</title>
                                                <use xlink:href="#icon-3b7eeeccbb457780f277fce4669f67a0"></use>
                                            </svg>
                                            <span class="label">Join the Discord</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider12" class="style1 full">
                                <h2 id="text12" class="style1">Stores | Support Mistakes</h2>
                                <ul id="buttons11" class="buttons">
                                    <li>
                                        <a href="https://gumroad.buddyworks.wtf/" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://payhip.buddyworks.wtf/" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Payhip</title>
                                                <use xlink:href="#icon-6871dc014ea61d3407154992fba3c97e"></use>
                                            </svg>
                                            <span class="label">Payhip</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://buddyworks.booth.pm/" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">BOOTH</title>
                                                <use xlink:href="#icon-087398ed0fe899085b907a25f76573d4"></use>
                                            </svg>
                                            <span class="label">Booth</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul id="buttons07" class="buttons">
                                    <li>
                                        <a href="https://www.patreon.com/buddy_de" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Patreon</title>
                                                <use xlink:href="#icon-5e2b59df8acd112dc7cc5936c30a5abb"></use>
                                            </svg>
                                            <span class="label">Patreon</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://ko-fi.com/buddyworks" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Ko-fi</title>
                                                <use xlink:href="#icon-b4ecc41beadbec7df3b3e34a22693f76"></use>
                                            </svg>
                                            <span class="label">Ko-fi</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider07" class="style1 full">
                                <h2 id="text14" class="style1">Funky Places</h2>
                                <ul id="buttons08" class="buttons">
                                    <li>
                                        <a href="https://github.com/BUDDYWORKS-VR" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">GitHub</title>
                                                <use xlink:href="#icon-8c4b37645de3c276d895d87df51ba614"></use>
                                            </svg>
                                            <span class="label">Github</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/JustBuddy_DE" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">X</title>
                                                <use xlink:href="#icon-31b8880d36499db40d4e47546c4763f3"></use>
                                            </svg>
                                            <span class="label">Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vrc.group/BUDDYW.6708" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gamepad</title>
                                                <use xlink:href="#icon-5781ca2e1fb79e9a339ab93b15347b29"></use>
                                            </svg>
                                            <span class="label">VRC Group</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://steamcommunity.com/groups/buddyworks" class="button n04">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Steam</title>
                                                <use xlink:href="#icon-56a1e10494600ea42075d3aa573d5839"></use>
                                            </svg>
                                            <span class="label">Steam</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.reddit.com/r/buddyworks/" class="button n05">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Reddit</title>
                                                <use xlink:href="#icon-c83ee4da7ecbbbd33cd0166b89ce370f"></use>
                                            </svg>
                                            <span class="label">Reddit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://repo.buddyworks.wtf/" class="button n06">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Globe</title>
                                                <use xlink:href="#icon-7a66fac84dc5d9fb5fafce395a384d40"></use>
                                            </svg>
                                            <span class="label">VPM Repository</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://docs.buddyworks.wtf" class="button n07">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Document</title>
                                                <use xlink:href="#icon-609167072cf835e4e0e39f79e5fecfbf"></use>
                                            </svg>
                                            <span class="label">Docs</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider08" class="style1 full">
                                <h1 id="text13">Latest Release</h1>
                                <div id="image09" class="style1 image">
                                    <a href="https://repo.buddyworks.wtf/" class="frame deferred enclosed">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA2MzIgNjMyIiB3aWR0aD0iNjMyIiBoZWlnaHQ9IjYzMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image09.png?v=ec014836" alt="Expressions Extension"/>
                                    </a>
                                </div>
                                <p id="text09">
                                    <span class="p">
                                        <strong>BUDDYWORKS Expressions Extension</strong>
                                        <br/>Expressions Extension is an easy-to-use system to adjust your avatars facial expression for photography.
                                    </span>
                                </p>
                                <ul id="buttons03" class="buttons">
                                    <li>
                                        <a href="https://repo.buddyworks.wtf/" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Globe</title>
                                                <use xlink:href="#icon-7a66fac84dc5d9fb5fafce395a384d40"></use>
                                            </svg>
                                            <span class="label">VPM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/bwee" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vrchat.com/home/avatar/avtr_e0b248c6-a3f0-4032-957a-b6f8b01abfae" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gamepad</title>
                                                <use xlink:href="#icon-5781ca2e1fb79e9a339ab93b15347b29"></use>
                                            </svg>
                                            <span class="label">Demo</span>
                                        </a>
                                    </li>
                                </ul>
                                <p id="text18">©️ BUDDYWORKS</p>
                                <hr id="divider09" class="style1 full">
                            </div>
                        </div>
                    </div>
                    <div id="container01" data-scroll-id="scrollpoint01" data-scroll-behavior="default" data-scroll-offset="0" data-scroll-speed="3" class="container default">
                        <div class="wrapper">
                            <div class="inner" data-onvisible-trigger="1">
                                <hr id="divider02" class="style1 full">
                                <h1 id="text02">Previous Releases</h1>
                                <div id="image02" class="style1 image">
                                    <a href="https://buddyworks.gumroad.com/l/bwpe" class="frame">
                                        <img src="assets/images/image02.jpg?v=ec014836" alt="BUDDYWORKS Poses Extension"/>
                                    </a>
                                </div>
                                <p id="text01">
                                    <span class="p">
                                        <strong>BUDDYWORKS Poses Extension</strong>
                                        <br/>Locomotion-agnostic pose system for photography.
                                    </span>
                                </p>
                                <ul id="buttons04" class="buttons">
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/bwpe" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://payhip.com/b/1etmk" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Payhip</title>
                                                <use xlink:href="#icon-6871dc014ea61d3407154992fba3c97e"></use>
                                            </svg>
                                            <span class="label">Payhip</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://repo.buddyworks.wtf/" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Globe</title>
                                                <use xlink:href="#icon-7a66fac84dc5d9fb5fafce395a384d40"></use>
                                            </svg>
                                            <span class="label">VPM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vrchat.com/home/avatar/avtr_e0b248c6-a3f0-4032-957a-b6f8b01abfae" class="button n04">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gamepad</title>
                                                <use xlink:href="#icon-5781ca2e1fb79e9a339ab93b15347b29"></use>
                                            </svg>
                                            <span class="label">Demo</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider03" class="style1 full">
                                <div id="image08" class="style1 image">
                                    <a href="https://buddyworks.booth.pm/items/5542201" class="frame deferred enclosed">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image08.png?v=ec014836" alt="Stranded Beachwear"/>
                                    </a>
                                </div>
                                <p id="text11">
                                    <span class="p">
                                        <strong>Stranded Beachwear</strong>
                                        <br/>Stranded on an unknown island, you fight for your survival. Your trusty clothing, while damaged, still holding on.
                                    </span>
                                </p>
                                <ul id="buttons01" class="buttons">
                                    <li>
                                        <a href="https://buddyworks.booth.pm/items/5542201" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">BOOTH</title>
                                                <use xlink:href="#icon-087398ed0fe899085b907a25f76573d4"></use>
                                            </svg>
                                            <span class="label">Booth</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider06" class="style1 full">
                                <div id="image04" class="style1 image">
                                    <a href="https://buddyworks.gumroad.com/l/baf" class="frame">
                                        <img src="assets/images/image04.jpg?v=ec014836" alt="BUDDYWORKS Avatar Framework"/>
                                    </a>
                                </div>
                                <p id="text08">
                                    <span class="p">
                                        <strong>BUDDYWORKS Avatar Framework</strong>
                                        <br/>Jumpstart your creation process with this ready to go menu and logic template. Optimized and fast, every single time.
                                    </span>
                                </p>
                                <ul id="buttons10" class="buttons">
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/baf" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://payhip.com/b/UGMC5" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Payhip</title>
                                                <use xlink:href="#icon-6871dc014ea61d3407154992fba3c97e"></use>
                                            </svg>
                                            <span class="label">Payhip</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://buddyworks.booth.pm/items/5031744" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">BOOTH</title>
                                                <use xlink:href="#icon-087398ed0fe899085b907a25f76573d4"></use>
                                            </svg>
                                            <span class="label">Booth</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider01" class="style1 full">
                                <div id="image06" class="style1 image">
                                    <a href="https://buddyworks.gumroad.com/l/bdas" class="frame deferred enclosed">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA2MzIgNjMyIiB3aWR0aD0iNjMyIiBoZWlnaHQ9IjYzMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image06.png?v=ec014836" alt="BUDDYWORKS Default Avatar Scene"/>
                                    </a>
                                </div>
                                <p id="text06">
                                    <span class="p">
                                        <strong>BUDDYWORKS Default Avatar Scene</strong>
                                        <br/>Ready-to-go Unity scene with various testers for features like Audiolink and LTCGI.
                                    </span>
                                </p>
                                <ul id="buttons09" class="buttons">
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/bdas" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://payhip.com/b/PkHxT" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Payhip</title>
                                                <use xlink:href="#icon-6871dc014ea61d3407154992fba3c97e"></use>
                                            </svg>
                                            <span class="label">Payhip</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://buddyworks.booth.pm/items/5031781" class="button n03">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">BOOTH</title>
                                                <use xlink:href="#icon-087398ed0fe899085b907a25f76573d4"></use>
                                            </svg>
                                            <span class="label">Booth</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider10" class="style1 full">
                                <div id="image03" class="style1 image">
                                    <a href="https://repo.buddyworks.wtf/" class="frame">
                                        <img src="assets/images/image03.jpg?v=ec014836" alt="BUDDYWORKS Toolbox"/>
                                    </a>
                                </div>
                                <p id="text04">
                                    <span class="p">
                                        <strong>BUDDYWORKS Toolbox (WIP)</strong>
                                        <br/>
                                        Little toolbox with various features.<br/>VRCFury prefab for easy installation. (I hope)
                                    </span>
                                </p>
                                <ul id="buttons12" class="buttons">
                                    <li>
                                        <a href="https://repo.buddyworks.wtf/" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Globe</title>
                                                <use xlink:href="#icon-7a66fac84dc5d9fb5fafce395a384d40"></use>
                                            </svg>
                                            <span class="label">VPM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://vrchat.com/home/avatar/avtr_e0b248c6-a3f0-4032-957a-b6f8b01abfae" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gamepad</title>
                                                <use xlink:href="#icon-5781ca2e1fb79e9a339ab93b15347b29"></use>
                                            </svg>
                                            <span class="label">Demo</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider11" class="style1 full">
                                <div id="image07" class="style1 image">
                                    <a href="https://repo.buddyworks.wtf/" class="frame">
                                        <img src="assets/images/image07.jpg?v=ec014836" alt="BUDDYWORKS UIT"/>
                                    </a>
                                </div>
                                <p id="text05">
                                    <span class="p">
                                        <strong>BUDDYWORKS UnityPackage Icon Tool</strong>
                                        <br/>The icing on the cake for your exports, right inside Unity!
                                    </span>
                                </p>
                                <ul id="buttons05" class="buttons">
                                    <li>
                                        <a href="https://repo.buddyworks.wtf/" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Globe</title>
                                                <use xlink:href="#icon-7a66fac84dc5d9fb5fafce395a384d40"></use>
                                            </svg>
                                            <span class="label">VPM</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/bwuit" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                </ul>
                                <hr id="divider04" class="style1 full">
                                <div id="image01" class="style1 image">
                                    <a href="https://buddyworks.gumroad.com/l/bms" class="frame deferred enclosed">
                                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA2MzIgNjMyIiB3aWR0aD0iNjMyIiBoZWlnaHQ9IjYzMiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI%2BPHJlY3QgZmlsbD0idHJhbnNwYXJlbnQiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiLz48L3N2Zz4%3D" data-src="assets/images/image01.png?v=ec014836" alt="BUDDYWORKS Default Avatar Scene"/>
                                    </a>
                                </div>
                                <p id="text03">
                                    <span class="p">
                                        <strong>BUDDYWORKS Merch Set</strong>
                                        <br/>Support the cause and rep BUDDYWORKS with this set of little merch assets.
                                    </span>
                                </p>
                                <ul id="buttons02" class="buttons">
                                    <li>
                                        <a href="https://buddyworks.gumroad.com/l/bms" class="button n01">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Gumroad</title>
                                                <use xlink:href="#icon-0ae1e394040465ead34b72c40a42eafa"></use>
                                            </svg>
                                            <span class="label">Gumroad</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://payhip.com/b/6834u" class="button n02">
                                            <svg aria-labelledby="icon-title">
                                                <title id="icon-title">Payhip</title>
                                                <use xlink:href="#icon-6871dc014ea61d3407154992fba3c97e"></use>
                                            </svg>
                                            <span class="label">Payhip</span>
                                        </a>
                                    </li>
                                </ul>
                                <p id="text07">©️ BUDDYWORKS</p>
                                <hr id="divider05" class="style1 full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  <script src="/js/script.js" is:inline />
</html>
